img {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.rounded {
    border-radius: 15px;
}

img, img.fullWidth {
    width: 100%;
}

img.halfWidth {
    width: 50%;
}

img.quarterWidth {
    width: 25%;        
}

img.eigthWidth {
    width: 12.5%;        
}

img.leftAligned {
    margin-left: 0;
    margin-right: 0;
}

img.inline {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

img.outlinedThin {
    border: 2px solid grey;
}

img.outlined {
    border: 5px solid grey;
}

img.outlinedFat {
    border: 10px solid grey;
}

img.red {
    border-color: var(--fail);
}

img.green {
    border-color: var(--success);
}

img.blue {
    border-color: var(--info);
}

img.yellow {
    border-color: var(--warning);
}