img {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img, .fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

.quarterWidth {
    width: 25%;        
}

.eigthWidth {
    width: 12.5%;        
}

.leftAligned {
    margin-left: 0;
    margin-right: 0;
}

img.inline {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

span.block {
    display: block;
    margin: auto;
}

span.rounded {
    padding: 5px;
}

.rounded {
    border-radius: 15px;
}

.outlinedThin {
    border: 2px solid grey;
}

.outlined {
    border: 5px solid grey;
}

.outlinedFat {
    border: 10px solid grey;
}

.red {
    border-color: var(--fail);
}

.green {
    border-color: var(--success);
}

.blue {
    border-color: var(--info);
}

.yellow {
    border-color: var(--warning);
}